h1{  padding: 20px 20px 20px;  margin: 10px 50px 20px; }body{  padding: 10px 50px 20px;}* {
  font-family: 'Segoe UI';
}
#carte
{    border-radius: 80px;
    width: 1300px;
    margin:0 auto;
    background-color: #354f52;
    text-align: center;
    align-content: center;
    font-family: 'Segoe UI';
}

body {
    background-color: #2f3e46;
    font-size: 16pt;
    color: white;

  }
  p { margin-bottom: 10px; } 

  .button {
    border-radius: 10px;
    background-color: #01911a;
    border: 2px solid #01911a;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    margin: 50px 50px;
    cursor: pointer;
    text-decoration: none;
  }
  .button:hover{
    background-color: #006612;
    color: #ffffff;
    border: 2px solid #006612;
  }
    #wrap {
        width: 100%;
        height: 50px;
        margin: 0;
        z-index: 99;
        position: relative;
        background-color: #52796f;
      }
      .navbar {
        height: 50px;
        padding: 0;
        margin: 0;
        position: absolute;
      }
      .navbar li {
        height: auto;
        width: 325px;
        float: left;
        text-align: center;
        list-style: none;
        font: normal bold 18px/1em Arial, Verdana, Helvetica;
        padding: 0;
        margin: 0;
        background-color: #52796f;
      }
      .navbar a {
        padding: 18px 0;
        border-left: 0px solid #52796f;
        text-decoration: none;
        color: white;
        display: block;
      }
      .navbar li:hover,
      a:hover {
        background-color: #cad2c5;
      }
      .navbar li ul {
        display: none;
        height: auto;
        margin: 0;
        padding: 0;
      }
      .navbar li:hover ul {
        display: block;
      }
      .navbar li ul li {
        background-color: #52796f;
      }
      .navbar li ul li a:hover {
        background-color: #cad2c5;
      }
img{

    margin: 40px;
}
